{% extends "base.html" %}
{% block title %}Мнение о фильме # {{ opinion.id }}{% endblock title %}
{% block content %}
<main>
  <section class="container my-5">
    <div class="row">
      <h1>{{ opinion.title }}</h1>
      <div class="col-12 col-lg-7 my-5">            
        <p>
        {% if opinion.text %}
          {{ opinion.text }}
        {% else %}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco 
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
          dolor in reprehenderit in voluptate velit esse cillum dolore eu 
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        {% endif %}
        </p>
        
        <p>
          Больше о фильме: 
          {% if opinion.source %}
            <a href="{{ opinion.source }}">{{ opinion.source }}</a>
          {% else %}
            источник не указан
          {% endif %}
        </p>
        <p>
          Ссылка для друзей: 
          <a href="{{ url_for('opinion_view', id=opinion.id, _external=True) }}">{{ url_for('opinion_view', id=opinion.id, _external=True) }}</a>
        </p>
      </div>
      <div class="col-12 col-lg-5">
          <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/illustration.png') }}" alt="">
      </div>
    </div>
  </section>
</main>
{% endblock content %}
 
